   <qc-footer 
        site-url="https://www.quebec.ca"
        site-nom="Gouvernement du Québec"
    >
        <div slot="liens-principaux">
            <nav>
                <h3>Section 1</h3>
                <ul>
                    <li><a href="#link1">Link 1</a></li>
                    <li><a href="#link2">Link 2</a></li>
                </ul>
            </nav>
        </div>
        <div slot="liens-secondaires">
            <ul>
                <li><a href="/accessibilite">Accessibilité</a></li>
                <li><a href="/plan-du-site">Plan du site</a></li>
                <li><a href="/acces-information">Accès à l'information</a></li>
                <li><a href="/politique-confidentialite">Politique de confidentialité</a></li>
                <li><a href="/conditions-utilisation">Conditions d'utilisation</a></li>
                <li><a href="/a-propos">À propos</a></li>
            </ul>
        </div>
        <div slot="copyright">
            <a href="/droit-auteur">© Gouvernement du Québec,&nbsp;2024</a>
        </div>
    </qc-footer>