@{ Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
	<partial name="Head" model="Model"/>
</head>
<body>
	<partial name="Header" model="Model"/>
	<partial name="Breadcrumb" model="Model"/>
    <main>
        @RenderBody()
    </main>
 	<partial name="footer"/>
    <qc-up></qc-up>
</body>
</html>
